@font-face {
  font-family: '7seg';
  src: url(7segment.woff?t=1508751886602) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face{
  font-family:'element-icons';
  src:url(element-icons.woff?t=1508751886607) format("woff"),url(element-icons.ttf?t=1508751886607) format("truetype");
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family:'ubuntu';
  src:url(Ubuntu/Ubuntu-Regular.ttf) format("truetype");
  font-weight:400;
  font-style:normal
}
@font-face{
  font-family:'ubuntu';
  src:url(Ubuntu/Ubuntu-Light.ttf) format("truetype");
  font-weight:300;
  font-style:normal
}
@font-face{
  font-family:'ubuntu';
  src:url(Ubuntu/Ubuntu-Bold.ttf) format("truetype");
  font-weight:700;
  font-style:normal
}